.gallery {
  @media screen and (max-width: 768px) {
    display: none;    
  }
}
.gallery {
  padding-top: 94px;
  padding-bottom: 94px;

    &__text {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
  }
    &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
    &__img {
    display: block;
    position: relative;
    height: auto;
  }
    &__icon {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(47, 48, 58, 0.8);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
  }
}

.gallery__list > .gallery__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px; 
}

.gallery__list .gallery__item:nth-child(3n) {
  margin-right: 0px;
}

