.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #EEEEEE;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}