.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 80px;

  @media screen and (min-width: 1200x) {
    margin-right: 93px;
    
  }
}
.logo__text1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
  font-size: 24px;
  line-height: 1.16;
  }
}
.logo__text2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);

    @media screen and (min-width: 768px) {
  font-size: 24px;
  line-height: 1.16;
  }
}