.backdrop {
  position: fixed;
  top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: 100%;
  max-height: 609px;
  // height: 581px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
   0px 1px 1px rgba(0, 0, 0, 0.14), 
   0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px;

      &__close {
      width: 30px;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      top: 8px;
      right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;
      }
      &__title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.03em;

      color: #212121;
      margin-bottom: 30px;
      }
      &__input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      
      padding-left: 42px;
      padding-top: 12px;
      padding-bottom: 12px;
      outline: none;

      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
            &:focus {
            border-color: var(--accent-color);
          }
    }
      &__icon {
      position: absolute;
      box-sizing: border-box;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
        & {
        transition: fill 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
  
      &__field {
      margin-bottom: 10px;
    }
      &__wrap {
      position: relative;
    }
}
  .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
  .modal__input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: #757575;
  }

  .modal__text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    outline: none;
    display: block;

      &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
      &:focus {
      border-color: var(--accent-color);
    }
  }

  .modal__input:focus + .modal__icon {
      fill: var(--accent-color);
  }
  .modal__button {
    width: 200px;
    height: 50px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em; 
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier
    (0.4, 0, 0.2, 1), color 250ms cubic-bezier
    (0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier
    (0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
  }

  .modal__label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    display: block;
  }
  .modal-field-btn {
    display: flex;
    justify-content: center;  
  }
  .modal__coment {
    margin-bottom: 20px;
  }
  .checkbox {
  margin-bottom: 30px;

      &__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.03em;
      color: #757575;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

      &__href {
      margin-left: 5px;
      color: var(--accent-color);
    }
  }

  .checkbox__text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
  }
  
  .checkbox__check:checked + .checkbox__text::before {
    background-color: var(--accent-color);
    background-image: url(../images/Vector.svg);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
  }
  .checkbox__check:focus + .checkbox__text::before {
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
    }
  }
  @media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

  @media screen and (min-width: 1200px) {
  .modal__title {
   margin-bottom: 12px;
  }
}